<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In ấn Phước Thuỷ</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/custom.css" rel="stylesheet">
    <!-- Thêm thư viện AOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <!-- Add floating icons style -->
    <style>
      #floating-icons {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 9999;
      }
      #floating-icons a img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: transform 0.3s;
      }
      #floating-icons a img:hover {
        transform: scale(1.1);
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t39.30808-6/455193160_896630822485630_6775669402606867151_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=kxSf7ADovKQQ7kNvgFFaNH7&_nc_oc=Adgdx7ni812tuCHDNTRFMw8Y89z4VPFOGUdHodLzGXo2X5MB8DS17JqPP_UbK33VzmnVRXgihSgvooCieEokwPYu&_nc_zt=23&_nc_ht=scontent.fsgn3-1.fna&_nc_gid=AUm3H2KEtwof433OshjobTt&oh=00_AYDdIepn4ce7AUdXPI-VnHxNcUBEoQd-m-s7kYfk0PWWew&oe=67BB8CB1" alt="In ấn Phước Thuỷ" height="30"> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">MẪU THIỆP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">IN TRANG TRÍ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">IN QUẢNG CÁO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FANPAGE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="content-banner-image">
          <div class="banner-container banner-02" data-aos="fade-up">
            <img src="../../static/img/banner/Banner02.jpg" alt="Thiệp cưới Phước Thuỷ">
            <div class="content-image content-02" data-aos="fade-up">
              <h2 style="color: #ffffff;">THIỆP CƯỚI TRUYỀN THỐNG</h2>
              <h3 style="color: rgb(141, 137, 133);" class="mt-3">Đa dạng mẫu, từ truyền thống cho đến hiện đại <br>
                và cả thiệp thiết kế riêng theo yêu cầu quý khách</h3>
              <button class="btn mt-3">Xem mẫu</button>
            </div>
          </div>
          <div class="banner-container banner-03" data-aos="fade-up">
            <img src="../../static/img/banner/Banner03.jpg" alt="Thiệp cưới Phước Thuỷ">
            <div class="content-image content-03" data-aos="fade-up">
              <h2 style="color: #d32d3b;">THIỆP CƯỚI <br>THIẾT KẾ THEO YÊU CẦU
              </BR></h2>
              <h3 style="color: rgb(78, 76, 74);" class="mt-3">Đa dạng mẫu, từ truyền thống cho đến hiện đại <br>
                và cả thiệp thiết kế riêng theo yêu cầu quý khách</h3>
              <button class="btn mt-3">Xem mẫu</button>
            </div>
          </div>
    
          <div class="banner-container banner-04">
            <img data-aos="zoom-in" src="../../static/img/banner/Banner04.jpg" alt="Thiệp cưới Phước Thuỷ">
            <div data-aos="fade-up" class="content-image content-04">
              <h2 style="color: #f08ac5;">THIỆP SINH NHẬT <br> TÂN GIA <br> HIẾU HỶ <br> THƯ MỜI SỰ KIỆN</h2>
              <h3 style="color: rgb(78, 76, 74);" class="mt-3">
                Đa dạng mẫu, từ truyền thống cho đến hiện đại <br>
                và cả thiệp thiết kế riêng theo yêu cầu quý khách</h3>
        
              <button class="btn mt-3">Xem mẫu</button>
            </div>
          </div>
    </div>
    </div>


    <footer class="py-4" style="background-color: #d8ffd2; color: #096c3c;"  >
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5 class="fw-bold">THIỆP CƯỚI PHƯỚC THỦY</h5>
            <p>58 Nguyễn An Ninh<br>
              Khóm 2, P.2, TP. Trà Vinh<br>
              Tỉnh Trà Vinh</p>
            <p><strong>Quý khách đặt hàng xin liên hệ:</strong><br>
              Mobile: <a href="tel:0906775466">0906775466</a> (Zalo)<br>
              Email: <a href="mailto:inqcpt@gmail.com">inqcpt@gmail.com</a></p>
            <h5 class="fw-bold">CÔNG TY TNHH MTV TM-DV PHƯỚC THỦY</h5>
            <p>MST: 2100353517<br>
              Địa chỉ: Hẻm 16, Kiên Thị Nhẫn, K.5, P.7,<br>
              Thành phố Trà Vinh, Tỉnh Trà Vinh, Việt Nam.</p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31439.90911043958!2d106.30276677431641!3d9.934902799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a017540221c4db%3A0x50dbcc9c581a12e4!2zQ8ahIFPhu58gSW4gVGhp4buHcCBDxrDhu5tpIFBoxrDhu5tjIFRo4buneQ!5e0!3m2!1sen!2s!4v1740235722770!5m2!1sen!2s" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </footer>


      <!-- Thêm script AOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>
  AOS.init();
  </script>
  <script src="../../static/js/bootstrap.bundle.min.js"></script>
    
    <!-- Floating icons for Messenger and Zalo -->
    <div id="floating-icons">
      <a href="https://m.me/100064161601807" target="_blank">
        <img src="https://static.vecteezy.com/system/resources/previews/021/495/995/non_2x/messenger-social-media-logo-icon-free-png.png" alt="Messenger">
      </a>
      <a href="https://zalo.me/0906775466" target="_blank">
        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-Zalo-Arc.png" alt="Zalo">
      </a>
    </div>
    <script src="../../static/js/custom.js"></script>
</body>
</html>